@import 'mixins';

/* Outfit1 - Advanced BoS uniform */
#outfit1_backleg_upperhalf {
  background-position: $leg_upperhalf_x $backleg_y;
}

#outfit1_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x $backleg_y;
}

#outfit1_backleg_foot {
  background-position: $foot_x $backleg_y;
}

#outfit1_frontleg_upperhalf {
  background-position: $leg_upperhalf_x $frontleg_y;
}

#outfit1_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x $frontleg_y;
}

#outfit1_frontleg_foot {
  background-position: $foot_x ($frontleg_y + 10);
}

#outfit1_chest {
  background-position: $chest_x $chest_y;
}

#outfit1_crotch {
  background-position: $crotch_x $crotch_y;
}

#outfit1_backarm_lowerhalf {
  background-position: $arm_lowerhalf_x $backarm_y;
}

#outfit1_backarm_upperhalf {
  background-position: $arm_upperhalf_x $backarm_y;
}

#outfit1_frontarm_lowerhalf {
  background-position: $arm_lowerhalf_x $frontarm_y;
}

#outfit1_frontarm_upperhalf {
  background-position: $arm_upperhalf_x $frontarm_y;
}



/* Outfit2 - Expert BoS uniform */
#outfit2_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) $backleg_y;
}

#outfit2_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) $backleg_y;
}

#outfit2_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) $backleg_y;
}

#outfit2_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) $frontleg_y;
}

#outfit2_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) $frontleg_y;
}

#outfit2_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($frontleg_y + 10);
}

#outfit2_chest {
  background-position: ($chest_x - $outfit_BDFH_x) $chest_y;
}

#outfit2_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) $crotch_y;
}

#outfit2_backarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) $backarm_y;
}

#outfit2_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) $backarm_y;
}

#outfit2_frontarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) $frontarm_y;
}

#outfit2_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) $frontarm_y;
}



/* Outfit3 - Clergy outfit */
#outfit3_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitC_y);
}

#outfit3_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitC_y);
}

#outfit3_backleg_foot {
  background-position: $foot_x ($backleg_y - $outfitC_y);
}

#outfit3_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitC_y);
}

#outfit3_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitC_y);
}

#outfit3_frontleg_foot {
  background-position: $foot_x (($frontleg_y + 10) - $outfitC_y);
}

#outfit3_backhem {
  background-position: $back_hem_x (-5px - $outfitC_y);
}

#outfit3_fronthem {
  background-position: $front_hem_x (-5px - $outfitC_y);
}

#outfit3_chest {
  background-position: $chest_x ($chest_y - $outfitC_y);
}

#outfit3_crotch {
  background-position: $crotch_x ($crotch_y - $outfitC_y);
}

#outfit3_backarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($backarm_y - $outfitC_y);
}

#outfit3_backarm_upperhalf {
  background-position: $arm_upperhalf_x ($backarm_y - $outfitC_y);
}

#outfit3_frontarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($frontarm_y - $outfitC_y);
}

#outfit3_frontarm_upperhalf {
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitC_y);
}



/* Outfit 4 - BOS uniform */
#outfit4_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit4_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit4_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit4_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitC_y);
}

#outfit4_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitC_y);
}

#outfit4_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitC_y);
}

#outfit4_chest {
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitC_y);
}

#outfit4_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitC_y);
}

#outfit4_backarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitC_y);
}

#outfit4_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitC_y);
}

#outfit4_frontarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitC_y);
}

#outfit4_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitC_y);
}



/* Outfit 5 - Baseball uniform */
#outfit5_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitE_y);
}

#outfit5_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitE_y);
}

#outfit5_backleg_foot {
  background-position: $foot_x ($backleg_y - $outfitE_y);
}

#outfit5_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitE_y);
}

#outfit5_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitE_y);
}

#outfit5_frontleg_foot {
  background-position: $foot_x (($frontleg_y + 10) - $outfitE_y);
}

#outfit5_chest {
  background-position: $chest_x ($chest_y - $outfitE_y);
}

#outfit5_crotch {
  background-position: $crotch_x ($crotch_y - $outfitE_y);
}

#outfit5_backarm_lowerhalf { /* Shorter sleeves. */
  background-position: $arm_lowerhalf_x ($backarm_y - $outfitE_y);
}

#outfit5_backarm_upperhalf {
  background-position: $arm_upperhalf_x ($backarm_y - $outfitE_y);
}

#outfit5_frontarm_lowerhalf { /* Shorter end of sleeves. */
  top: 90px;
  left: 10px;
  width: 75px;
  background-position: $arm_lowerhalf_x - 10 ($frontarm_y - $outfitE_y);
}

#outfit5_frontarm_upperhalf {
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitE_y);
}



/* Outfit 6 - Battle armor */
#outfit6_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit6_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit6_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit6_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitE_y);
}

#outfit6_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitE_y);
}

#outfit6_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitE_y);
}

#outfit6_chest {
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitE_y);
}

#outfit6_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitE_y);
}

#outfit6_backarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitE_y);
}

#outfit6_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitE_y);
}

#outfit6_frontarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitE_y);
}

#outfit6_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitE_y);
}



/* Outfit 7 - Male Body */
#vb_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitG_y);
}

#vb_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitG_y);
}

#vb_backleg_foot {
  background-position: $foot_x ($backleg_y - $outfitG_y);
}

#vb_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitG_y);
}

#vb_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitG_y);
}

#vb_frontleg_foot {
  background-position: $foot_x (($frontleg_y + 10) - $outfitG_y);
}

    #outfit7_head {
      width: 95px;
      height: 105px;
      background-position: -15px (-150px - $outfitG_y);
    }

#vb_chest {
  background-position: $chest_x ($chest_y - $outfitG_y);
}

#vb_crotch {
  background-position: $crotch_x ($crotch_y - $outfitG_y);
}

#vb_backarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($backarm_y - $outfitG_y);
}

#vb_backarm_upperhalf {
  background-position: $arm_upperhalf_x ($backarm_y - $outfitG_y);
}

#vb_frontarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($frontarm_y - $outfitG_y);
}

#vb_frontarm_upperhalf {
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitG_y);
}



/* Outfit 8 - Tenpenny's Suit */
#outfit8_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit8_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit8_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit8_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitG_y);
}

#outfit8_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitG_y);
}

#outfit8_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitG_y);
}

#outfit8_chest {
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitG_y);
}

#outfit8_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitG_y);
  transform: scaleX(1); /* Less weird */
}

#outfit8_backarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitG_y);
}

#outfit8_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitG_y);
}

#outfit8_frontarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitG_y);
}

#outfit8_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitG_y);
}