@import 'mixins';

/* outfit17 - Confessor Cromwell's rags */
#outfit17_backleg_upperhalf {
  background-position: $leg_upperhalf_x $backleg_y;
}

#outfit17_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x $backleg_y;
}

#outfit17_backleg_foot {
  background-position: $foot_x $backleg_y;
}

#outfit17_frontleg_upperhalf {
  background-position: $leg_upperhalf_x $frontleg_y;
}

#outfit17_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x $frontleg_y;
}

#outfit17_frontleg_foot {
  background-position: $foot_x ($frontleg_y + 10);
}

#outfit17_backhem {
  background-position: $back_hem_x 0;
}

#outfit17_fronthem {
  background-position: $front_hem_x 0;
}

#outfit17_chest {
  background-position: $chest_x $chest_y;
}

#outfit17_crotch {
  background-position: $crotch_x $crotch_y;
}

#outfit17_backarm_lowerhalf {
  background-position: $arm_lowerhalf_x $backarm_y;
}

#outfit17_backarm_upperhalf {
  background-position: $arm_upperhalf_x $backarm_y;
}

#outfit17_frontarm_lowerhalf {
  background-position: $arm_lowerhalf_x $frontarm_y;
}

#outfit17_frontarm_upperhalf {
  background-position: $arm_upperhalf_x $frontarm_y;
}



/* outfit18 - Elf outfit */
#outfit18_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) $backleg_y;
}

#outfit18_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) $backleg_y;
}

#outfit18_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) $backleg_y;
}

#outfit18_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) $frontleg_y;
}

#outfit18_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) $frontleg_y;
}

#outfit18_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($frontleg_y + 10);
}

#outfit18_backhem {
  background-position: ($back_hem_x - $outfit_BDFH_x) 0;
}

#outfit18_fronthem {
  background-position: ($front_hem_x - $outfit_BDFH_x) 0;
}

#outfit18_chest {
  background-position: ($chest_x - $outfit_BDFH_x) $chest_y;
}

#outfit18_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) $crotch_y;
}

#outfit18_backarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) $backarm_y;
}

#outfit18_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) $backarm_y;
}

#outfit18_frontarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) $frontarm_y;
}

#outfit18_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) $frontarm_y;
}



/* Outfit 19 - Motorcyle jacket */
#outfit19_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitC_y);
}

#outfit19_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitC_y);
}

#outfit19_backleg_foot {
  background-position: $foot_x ($backleg_y - $outfitC_y);
}

#outfit19_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitC_y);
}

#outfit19_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitC_y);
}

#outfit19_frontleg_foot {
  background-position: $foot_x (($frontleg_y + 10) - $outfitC_y);
}

#outfit19_chest {
  background-position: $chest_x ($chest_y - $outfitC_y);
}

#outfit19_crotch {
  background-position: $crotch_x ($crotch_y - $outfitC_y);
}

#outfit19_backarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($backarm_y - $outfitC_y);
}

#outfit19_backarm_upperhalf {
  background-position: $arm_upperhalf_x ($backarm_y - $outfitC_y);
}

#outfit19_frontarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($frontarm_y - $outfitC_y);
}

#outfit19_frontarm_upperhalf {
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitC_y);
}



/* Outfit 20 - Business suit */
#outfit20_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit20_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit20_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit20_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitC_y);
}

#outfit20_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitC_y);
}

#outfit20_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitC_y);
}

#outfit20_chest {
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitC_y);
}

#outfit20_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitC_y);
}

#outfit20_backarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitC_y);
}

#outfit20_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitC_y);
}

#outfit20_frontarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitC_y);
}

#outfit20_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitC_y);
}



/* Outfit 21 - Bowling shirt */
#outfit21_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitE_y);
}

#outfit21_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitE_y);
}

#outfit21_backleg_foot {
  background-position: $foot_x ($backleg_y - $outfitE_y);
}

#outfit21_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitE_y);
}

#outfit21_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitE_y);
}

#outfit21_frontleg_foot {
  background-position: $foot_x (($frontleg_y + 10) - $outfitE_y);
}

#outfit21_chest {
  background-position: $chest_x ($chest_y - $outfitE_y);
}

#outfit21_crotch {
  background-position: $crotch_x ($crotch_y - $outfitE_y);
}

#outfit21_backarm_upperhalf {
  background-position: $arm_upperhalf_x ($backarm_y - $outfitE_y);
}

#outfit21_frontarm_upperhalf {
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitE_y);
}

#outfit21_backarm_lowerhalf, #outfit21_frontarm_lowerhalf { /* Short sleeves */
  width: 0;
  height: 0;
}



/* Outfit 22 - Rad Suspenders */
#outfit22_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit22_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit22_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit22_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitE_y);
}

#outfit22_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitE_y);
}

#outfit22_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitE_y);
}

#outfit22_chest {
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitE_y);
}

#outfit22_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitE_y);
}

#outfit22_backarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitE_y);
}

#outfit22_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitE_y);
}

#outfit22_frontarm_lowerhalf {
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitE_y);
}

#outfit22_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitE_y);
}



/* Outfit 23 - Pre-War Intellectual */
#outfit23_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitG_y);
}

#outfit23_backleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitG_y);
}

#outfit23_backleg_foot {
  background-position: $foot_x ($backleg_y - $outfitG_y);
}

#outfit23_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitG_y);
}

#outfit23_frontleg_lowerhalf {
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitG_y);
}

#outfit23_frontleg_foot {
  background-position: $foot_x (($frontleg_y + 10) - $outfitG_y);
}

#outfit23_chest {
  background-position: $chest_x ($chest_y - $outfitG_y);
}

#outfit23_crotch {
  background-position: $crotch_x ($crotch_y - $outfitG_y);
}

#outfit23_backarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($backarm_y - $outfitG_y);
}

#outfit23_backarm_upperhalf {
  background-position: $arm_upperhalf_x ($backarm_y - $outfitG_y);
}

#outfit23_frontarm_lowerhalf {
  background-position: $arm_lowerhalf_x ($frontarm_y - $outfitG_y);
}

#outfit23_frontarm_upperhalf {
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitG_y);
}



/* Outfit 24 - Sci-fi fan outfit */
#outfit24_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit24_backleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit24_backleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit24_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitG_y);
}

#outfit24_frontleg_lowerhalf {
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitG_y);
}

#outfit24_frontleg_foot {
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitG_y);
}

#outfit24_chest {
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitG_y);
}

#outfit24_crotch {
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitG_y);
}

#outfit24_backarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitG_y);
}

#outfit24_frontarm_upperhalf {
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitG_y);
}

#outfit24_backarm_lowerhalf, #outfit24_frontarm_lowerhalf { /* Short sleeves */
  width: 0;
  height: 0;
}