@import 'mixins';

#headwear41 { /* Mayor outfit */
	left: -98px;
    top: -48px;
    background-position: -115px -815px;
}

#headwear42 { /* Clergy outfit */
	left: -101px;
    top: -55px;
    background-position: -100px -585px;
}