

.hair_colour1 { /* ?? */
	filter: grayscale(0%) brightness(60%) sepia(100%) hue-rotate(12deg) saturate(350%) contrast(0.8);
}

.hair_colour2 { /* ?? */
	filter: grayscale(0%) brightness(23%) sepia(100%) hue-rotate(-30deg) saturate(600%) contrast(0.8);
}

.hair_colour3 { /* Brown */
	filter: grayscale(0%) brightness(18%) sepia(100%) hue-rotate(-30deg) saturate(475%) contrast(0.8);
}

.hair_colour4 { /* ?? */
	filter: grayscale(0%) brightness(18%) sepia(100%) hue-rotate(-4deg) saturate(400%) contrast(0.8);
}

.hair_colour5 { /* ?? */
	filter: grayscale(0%) brightness(18%) sepia(100%) hue-rotate(-7deg) saturate(300%) contrast(0.8);
}

.hair_colour6 { /* Default ; White */
}

.hair_colour7 { /* ?? */
	filter: grayscale(0%) brightness(40%) sepia(100%) hue-rotate(-8deg) saturate(550%) contrast(0.8);
}

.hair_colour8 { /* ?? */
	filter: grayscale(0%) brightness(55%) sepia(100%) hue-rotate(12deg) saturate(700%) contrast(0.8);
}

.hair_colour9 { /* ?? */
	filter: grayscale(0%) brightness(23%) sepia(100%) hue-rotate(-168deg) saturate(50%) contrast(0.8);
}

.hair_colour10 { /* ?? */
	filter: grayscale(0%) brightness(25%) sepia(100%) hue-rotate(-30deg) saturate(250%) contrast(0.8);
}

.hair_colour11 { /* ?? */
	filter: grayscale(0%) brightness(23%) sepia(100%) hue-rotate(-30deg) saturate(125%) contrast(0.8);
}

.hair_colour12 { /* ?? */
	filter: grayscale(0%) brightness(85%) sepia(30%) hue-rotate(15deg) saturate(250%) contrast(0.8);
}

.hair_colour13 { /* ?? */
  filter: brightness(0.25);
}

.hair_colour14 { /* Firetruck Red */
	filter: brightness(28%) sepia(100%) hue-rotate(-48deg) saturate(900%) contrast(1);
}

.hair_colour15 { /* ?? */
	filter: grayscale(0%) brightness(45%) sepia(100%) hue-rotate(0deg) saturate(900%) contrast(0.8);
}

.hair_colour16 { /* Yellow? */
	filter: brightness(70%) sepia(100%) hue-rotate(-338deg) saturate(700%) contrast(1);
}

.hair_colour17 { /* Evergreen */
	filter: brightness(58%) sepia(100%) hue-rotate(-300deg) saturate(700%) contrast(1);
}

.hair_colour18 { /* Blueberry Hill */
	filter: brightness(20%) sepia(100%) hue-rotate(-158deg) saturate(1200%) contrast(1.2);
}

.hair_colour19 { /* Russian Violet */
	filter: brightness(15%) sepia(100%) hue-rotate(-126deg) saturate(900%) contrast(1.2);
}

.hair_colour20 { /* Your Eminence */
	filter: brightness(26%) sepia(100%) hue-rotate(-130deg) saturate(900%) contrast(1.2);
}

.hair_colour21 { /* Artist's Purple */
	filter: brightness(22%) sepia(100%) hue-rotate(-86deg) saturate(1200%) contrast(0.9);
}



.hair_colour22 { /* Nuka Quantum */
	filter: grayscale(0%) brightness(90%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

.hair_colour23 { /* Scarlet */
	filter: brightness(50%) sepia(100%) hue-rotate(-30deg) saturate(700%) contrast(1);
}

.hair_colour24 { /* Polynesian Blue */
	filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

.hair_colour25 { /* Bubblegum */
	filter: grayscale(0%) brightness(70%) sepia(100%) hue-rotate(-48deg) saturate(500%) contrast(0.8);
}

.hair_colour26 { /* Geiger Green */
	filter: brightness(100%) sepia(100%) hue-rotate(-300deg) saturate(500%) contrast(1);
}

.hair_colour27 { /* Chipped Ice */
  filter: brightness(100%) sepia(100%) saturate(0%) contrast(1.5);
}

.hair_colour28 { /* Fallout Blonde */
	filter: brightness(90%) sepia(100%) hue-rotate(-340deg) saturate(700%) contrast(1);
}

/*.hair_colourxy { //Unused purple
	filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-120deg) saturate(700%) contrast(0.8);
} */